# Created by .ignore support plugin (hsz.mobi)


./gradle
.idea/*.xml
.idea/.name
.idea/copyright
.idea/libraries
.idea/shelf
.idea/.name
target
out
build/*
.gradle/*
report/*
lib
report
checkme.bat

*.iml
*.ipr
*.iws
*.zip